nav ul, footer ul { font-size: 1em;  padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 15px; }
body { margin: 60px auto; width: 90%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;}
.column {
  float: left;
  width: 33.33%;
}
#third {
    width: 33.33%;
}
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
.rmargin{
    margin-right: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}